@font-face {
  font-family: "JetBrains";
  src: url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
  -webkit-user-select: text;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

img {
  -webkit-user-drag: none;
}

html {
  background: #151515;
  border-radius: 10px;
  overflow: hidden;
}

.drag-place {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  width: 100%;
  height: 35px;
}

.container {
  padding: 25px 30px;
  max-width: 500px;
  max-height: 600px;
  overflow: auto;
  margin: auto;
}

.showcase-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showcase-title {
  opacity: 50%;
  display: flex;
  align-items: center;
  gap: 3px;
}

.new-button {
  background: transparent;
  padding: 3px 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.showcase-wrapper {
  padding: 10px 0;
  max-height: 250px;
  overflow-y: auto;
}

.showcase-title .title {
  font-family: JetBrains;
}

.showcase-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.showcase-link-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.showcase-link-title h3 {
  max-width: 90%;
}

.showcase-link:hover {
  background-color: #ffffff09;
}

.showcase-link img {
  opacity: 80%;
}

.showcase-link h3 {
  font-family: Montserrat;
  font-weight: normal;
  padding-bottom: 1px;
}

.showcase-link.add {
  padding: 10px;
  opacity: 50%;
}

.mdx-wrapper {
  display: none;
  opacity: 0;
  min-height: 465px;
  transition: all 200ms ease;
  cursor: text;
  margin-top: -15px;
}

.mdx-editor {
  min-height: 465px;
}

.mdx-editor,
.mdx-editor > * {
  border: none;
  outline: none;
  caret-color: #fff;
  font-family: Montserrat;
  font-weight: normal;
}

.mdx-editor blockquote,
blockquote {
  padding: 5px 15px;
  border-left: 2px solid #fff;
  background: #ffffff11;
  margin: 5px 0;
}

.mdx-editor p a span,
.mdx-editor p a {
  color: #00a2ff;
}

.mdx-editor h2:has(code),
.mdx-editor h3:has(code),
.mdx-editor h4:has(code),
.mdx-editor h5:has(code),
.mdx-editor h6:has(code) {
  margin: 1px 0;
}

code span {
  font-family: JetBrains;
  border-radius: 4px;
  background: transparent !important;
  border: 1px solid #ffffff30;
}

._linkDialogPopoverContent_uazmk_600 {
  background: #181818 !important;
  border: 1px solid #ffffff10 !important;
  padding: 3px 10px !important;
}

._linkDialogPopoverContent_uazmk_600 button:hover {
  background: #191919 !important;
  cursor: pointer;
}

._linkDialogPopoverContent_uazmk_600 input {
  background: transparent !important;
  border: 1px solid #ffffff11;
}

._linkDialogPopoverContent_uazmk_600 form button {
  background: #ffffff08 !important;
  border: none;
}

._linkDialogPopoverContent_uazmk_600 form button:hover {
  background: #ffffff15 !important;
}

._listItemUnchecked_1tncs_74::before {
  border-radius: 4px !important;
}

._listItemChecked_1tncs_73::before {
  border-radius: 4px !important;
  background-color: white !important;
  border: none !important;
  height: 18px !important;
  width: 18px !important;
}

._listItemChecked_1tncs_73::after {
  top: 3px !important;
  border-width: 0 1.5px 1.5px 0 !important;
  border-color: black !important;
}

._listItemUnchecked_1tncs_74:focus::before,
._listItemChecked_1tncs_73:focus::before {
  box-shadow: none !important;
  border-radius: 4px !important;
}

.bottom-bar {
  transition: all 200ms ease;
}
