@font-face {
  font-family: "JetBrains";
  src: url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --main-bg: #151515;
  --app-rounded: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  transition: 300ms ease;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

img {
  -webkit-user-drag: none;
}

html {
  background: var(--main-bg);
  border-radius: var(--app-rounded);
  overflow: hidden;
}

.drag-place {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  width: 100%;
  height: 25px;
  z-index: 99;
  cursor: grab;
}

.container {
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
  margin: auto;
}

.showcase-wrapper {
  padding: 20px;
  height: 500px;
  overflow-y: auto;
}

.showcase-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.showcase-link-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.showcase-link-title h3 {
  max-width: 90%;
}

.showcase-link:hover {
  background-color: #ffffff09;
}

.showcase-link img {
  opacity: 80%;
}

.showcase-link h3 {
  font-family: Montserrat;
  font-weight: normal;
  padding-bottom: 1px;
}

.showcase-link.add {
  padding: 10px;
  opacity: 50%;
}

.mdx-wrapper {
  display: none;
  opacity: 0;
  transition: all 200ms ease;
  padding: 0px 20px 25px 20px;
}

.mdx-editor {
  cursor: text;
  margin-top: 7px;
  height: 493px;
}

.mdx-editor,
.mdx-editor > * {
  border: none;
  outline: none;
  caret-color: #fff;
  font-family: Montserrat;
  font-weight: normal;
}

.mdx-editor blockquote,
blockquote {
  padding: 5px 15px;
  border-left: 2px solid #fff;
  background: #ffffff11;
  margin: 5px 0;
}

blockquote.red {
  border-left: 2px solid #ff3b3b;
  background: #ff3b3b20;
}

blockquote.yellow {
  border-left: 2px solid #ffc107;
  background: #ffc10720;
}

blockquote.green {
  border-left: 2px solid #17b832;
  background: #17b83220;
}

.mdx-editor p a span,
.mdx-editor p a {
  color: #00a2ff;
}

.mdx-editor h2:has(code),
.mdx-editor h3:has(code),
.mdx-editor h4:has(code),
.mdx-editor h5:has(code),
.mdx-editor h6:has(code) {
  margin: 1px 0;
}

code span {
  font-family: JetBrains;
  border-radius: 4px;
  background: transparent !important;
  border: 1px solid #ffffff30;
}

/* CHECKBOX */
li[aria-checked="true"],
li[aria-checked="false"] {
  pointer-events: none;
  cursor: pointer;
}

li[aria-checked="true"]::before,
li[aria-checked="true"]::after,
li[aria-checked="false"]::before,
li[aria-checked="false"]::after {
  pointer-events: auto;
  cursor: pointer;
}

li[aria-checked="false"]::before {
  border-radius: 4px !important;
}

li[aria-checked="true"]::before {
  border-radius: 4px !important;
  background-color: white !important;
  border: none !important;
  height: 18px !important;
  width: 18px !important;
}

li[aria-checked="true"] {
  text-decoration: none !important;
}

li[aria-checked="true"]::after {
  top: 3px !important;
  border-width: 0 1.5px 1.5px 0 !important;
  border-color: black !important;
}

li[aria-checked="false"]:focus::before,
li[aria-checked="true"]:focus::before {
  box-shadow: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.bottom-bar {
  transition: all 200ms ease;
}
